<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinekomuna</title>
    <link rel="shortcut icon" href="/images/favicon.png">
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <button id="checkout-button">Checkout</button>
</body>
</html>