html,
body {
  height: 100%;
}

.btn-primary {
  background-color: #5000ff;
}
.btn-primary:hover {
  background-color: #4d02ee;
}

.button_black{
  border-width: 1px;
  border-color: #000;
  background: #000;
  background-color: #000;
  color: #fff;
}

